/* Descriptive color variables */
$black: #000000;
$white: #ffffff;
$gray: #a0a0a1;
$gray-dark: #414042;
$gray-light: #d6d6d6;
$gray-lighten: #f6f6f6;
$primary: #47b364;
$error-color: red;

/* Fonts */
$font-family-base: 'Open Sans', Arial, sans-serif;
$font-size-normal: 1rem;
$font-size-large: 1.125rem;
